<html>

<head>
  <title>Sapphire</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="/static/img/logos.ico/favicon-32x32.png" type="image/x-icon">
  <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
  <link href="/static/css/header.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <a class="navbar-brand navbar-right disinlineblock automarg padding0left" href="/logout">
      <button class="btn btn-danger btn-xs">Logout</button>
    </a>
    <a class="navbar-brand navbar-right disinlineblock automarg">
      <img class="img-responsive img-circle floatright automarg" src="/static/img/test-user-icon.jpg" width=9% height=9%>
    </a>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand disinlineblock">
          <img src="\static\img\logos.ico\ms-icon-70x70.png">
        </a>
        <a class="navbar-brand disinlineblock">
          Sapphire
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav disinlineblock floatnone fontup110">
          <li>
            <a href="/feed">Feed</a>
          </li>
          <!--li><a href="/volunteer/calendar">Calendar</a></li-->
          <li>
            <a href="/volunteer/eventNeeds">Events</a>
          </li>
          <li>
            <a href="/volunteer/slots">Slots</a>
          </li>
          <li>
            <a href="/groups">Groups</a>
          </li>
          <li>
            <a href="/accounts/profile">Profile</a>
          </li>
          <li>
            <!--
              <button class="btn btn-xs btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Organizer
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/organizer/add/?type=event">Add Event</a></li>
                <li><a href="/organizer/add/?type=singleSlot">Add Single Slot</a></li>
              </ul>
            </li>-->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="text">
      {% block content %} {% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid text-center">
      <span class="text-muted">
        Copyright (c) 2017
        <a href="https://chscodeforchange.wordpress.com/"> CHS Code For Change </a>
        under the MIT License
      </span>
    </div>
  </footer>
  {% include 'alert.html' %}

</body>

</html>
