{% extends "header.html" %}

{% block content %}
  <h1>Feed</h1>

  {% for entry in feed_entries %}
  <div class="row">
    <div class="col-sm-1">
      <img class="img-responsive" src="/static/img/test-user-icon.jpg" alt="profile picture" width="100">
    </div>
    <div class="col-sm-11">
      <div class="text-left">
        <h3><a href="/accounts/profile/{{entry.user.id}}">{{entry.user}}</a>
            <a href="/groups/{{entry.group.id}}"><button class="btn btn-secondary">{{entry.group.name}}</button></a></h3>
        <h6>{{entry.datetime}}</h6>
        <a href="{{entry.url}}">{{entry.description}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
