{% extends "header.html" %}

{% block content %}
  <h1 class="display-3">Feed</h1>

  <div class="text-right">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/feed">None</a>
        {% for group in groups %}
          <a class="dropdown-item" href="/feed/group/{{group.id}}">{{group.name}}</a>
        {% endfor %}
    </div>
  </div>

  {% for entry in feed_entries %}
  <div class="row">
    <div class="col-sm-1">
      <img class="img-responsive" src="/static/img/test-user-icon.jpg" alt="profile picture" width="100">
    </div>
    <div class="col-sm-11">
      <div class="text-left">
        <h3><a href="/accounts/profile/{{entry.user.id}}">{{entry.user}}</a>
            <a href="/groups/{{entry.group.id}}"><button class="btn btn-secondary">{{entry.group.name}}</button></a></h3>
        <h6>{{entry.datetime}}</h6>
        <a href="{{entry.url}}">{{entry.description}}</a>
      </div>
    </div>
  </div>
<p></p>
  {% endfor %}
{% endblock %}
