{% extends "header_not_centered.html" %}

{% block content %}
<p></p>
<h1 class="display-3 text-center"> {{event.name}}</h1>

<div class="row">
  <div class="col-md-7 text-center">
    <h1 class="text-center">Volunteers</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <thead>
            <th>User</th>
            <th>Slot</th>
            <th>Event</th>
            <th>Sign In</th>
            <th>Sign Out</th>
          </thead>
          <tbody>
            {% for user_slot in user_slots %}
                {% if user_slot.is_volunteer_null %}
                {% else %}
                  <tr>
                    <td><a href="/accounts/profile/{{user_slot.volunteer.id}}">{{user_slot.volunteer.username}}</a></td>
                    <td><a href="/volunteer/slot/{{user_slot.parentSlot.id}}">{{user_slot.parentSlot.title}}</a></td>
                    <td><a href="/volunteer/event/{{user_slot.parentSlot.parentEvent.id}}">{{user_slot.parentSlot.parentEvent.name}}</a></td>

                    {% if user_slot.is_signin_null %}
                      <td><a href="/volunteer/signin/{{user_slot.id}}?next=/groups/{{group.id}}/console"><button class="btn btn-primary">Sign In</button></a></td>
                    {% else %}
                      <td><a href="/organizer/editSignIn/{{user_slot.id}}"><button type="button" name="button" class="btn btn-light">{{user_slot.signin}}</button></a></td>
                    {% endif %}

                    {% if user_slot.is_signout_null %}
                      <td><a href="/volunteer/signout/{{user_slot.id}}?next=/groups/{{group.id}}/console"><button class="btn btn-primary">Sign Out</button></a></td>
                    {% else %}
                      <td><a href="/organizer/editSignOut/{{user_slot.id}}"><button type="button" name="button" class="btn btn-light">{{user_slot.signout}}</button></a></td>
                    {% endif %}
                  </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-5 text-center">
    <h1>Slots</h1>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Name</th>
          <th>Slots Taken</th>
        </thead>
        <tbody>
          {% for slot in slots %}

          <tr>
            <td><a href="/volunteer/slot/{{slot.id}}">{{slot.title}}</a></td>
            <td>
                {% ifnotequal slot.maxVolunteers 0 %}
                  {{slot.getNumberUserSlotsFilled}}/{{slot.getNumberUserSlotsTotal}}
                {% endifnotequal %}

                {% ifequal slot.maxVolunteers 0 %}
                  <a title="This slot is unlimited" style="border-bottom: 1px dotted blue;">∞</a>
                {% endifequal %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
