{% extends "header.html" %}

{% block content %}
  <h1 class="display-3">Edit Slot</h1>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p align="left">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10"> {{ field }} </div>
        </div>
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
      </div>  </form>
{% endblock %}
