{% extends "header.html" %}

{% block content %}

<h1>Pick Volunteer</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/volunteer/slot/{{slot.id}}/volunteer/{{group.owner.id}}">{{group.owner.username}}</a></td>
      <td>owner</td>
    </tr>

    {% for u in group.organizers.all %}
    <tr>
      <td><a href="/volunteer/slot/{{slot.id}}/volunteer/{{u.id}}">{{u.username}}</a></td>
      <td>organizer</td>
    </tr>
    {% endfor %}

    {% for u in group.volunteers.all %}
    <tr>
      <td><a href="/volunteer/slot/{{slot.id}}/volunteer/{{u.id}}">{{u.username}}</a></td>
      <td>volunteer</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
