{% extends "header.html" %}

{% block content %}
    <h1 class="mt-3">Edit Profile</h1>
    <form method="post">
        {% for field in form2 %}
            {% if field.label != 'Password' %}
                {% csrf_token %}
                <p align="center">
                    {% if field.help_text %}
                        <small style="display: none">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-8"> {{ field }} </div>
                </div>

                </p>
            {% endif %}
        {% endfor %}
        {% for field in form %}
            <p align="center">
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-8"> {{ field }} </div>
            </div>

            </p>
        {% endfor %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
            <div class="col-sm-2"><a href="/accounts/profile/edit/password">
                <button type="button" class="btn btn-warning btn-block">Change Password</button>
            </a></div>
        </div>
    </form>

{% endblock %}
