{% extends "header.html" %}
{% load permission_tags %}

{% block content %}

<p></p>
<p class="text-right">
  <a href="/groups/{{event.parentGroup.id}}">{{event.parentGroup.name}}</a>
</p>

<div class="jumbotron">


    <h1 class="display-1">{{event.name}}</h1>
    <h4 class="lead">{{event.start}} - {{event.end}}</h4>

    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                       aria-controls="collapseOne">
                        {{event.location}}: {{event.address}} {{event.city}}, {{event.state}} {{event.zip_code}}
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse toggle" role="tabpanel" aria-labelledby="headingOne"
                 data-parent="#accordion">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.google.com/maps/embed/v1/search?q={{event.address}} {{event.city}}, {{event.state}} {{event.zip_code}}&key=AIzaSyB-YQD-s4ery8KQRnzX7FhZsBC4SeFRcjA"
                            allowfullscreen></iframe>
                </div>

                <p class="text-danger">Map will only function correctly if a valid address has been entered</p>
            </div>
        </div>

        <h1></h1>
        <p class="text-left">{{event.description}}</p>
    </div>

    {% if is_organizer %}
    <div class="row">
        <a class="col-sm-10" href="/organizer/updateEvent/{{event.id}}">
            <button class="btn btn-primary btn-block">
              Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
        </a>


        <div class="btn-group col-sm-2">
            <button class="btn btn-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <div class="dropdown-menu">
                <p class="dropdown-item" href="">Are you sure?</p>
                <a class="dropdown-item"
                   href="{% url 'deleteEvent' event_id=event.id %}?next={{ '/home/feed/'|urlencode }}">
                    <button class="btn btn-danger">Yes</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>




  <h3>Volunteer Slots
    {% if is_organizer %}
    <a href="{% url 'addSlot' event_id=event.id %}">
      +
    </a>
    {% endif %}
  </h3>

  <table class="table table-hover" style="margin:20px;">
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Volunteers</th>
          <th>Slots Taken</th>
        <th></th>
      </tr>
      <tbody>
      {% for slot in event.slot_set.all|dictsort:"start" %}
      <tr>
          <td><a href="/volunteer/slot/{{slot.id}}">{{slot.title}}</a></td>
          <td>{{slot.start}}</td>
          <td>{{slot.end}}</td>
          <td>
              {% for user_slot in slot.user_slot_set.all %}
              {{user_slot.volunteer.username}}
              {% endfor %}
          </td>
          <td>
              {{slot.user_slot_set.all|volunteer_count}}/{{slot.maxVolunteers}}
          </td>
          <td>
              {% if is_organizer %}
              <div class="btn-group">
                  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</button>
                  <div class="dropdown-menu">
                      <p class="dropdown-item" href="">Are you sure?</p>
                      <a class="dropdown-item"
                         href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
                          <button class="btn btn-danger">Yes</button>
                      </a>
                  </div>
              </div>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

  <th><a href="/sheets/fromevent/{{event.id}}"><button class="btn btn-success">Generate Spreadsheet</button></a></th>


{% endblock %}
