{% extends "header.html" %}
{% load permission_tags %}

{% block content %}

<h1>Events</h1>
<div class="row">
  <a href="/organizer/addEvent/"><button class="btn btn-secondary">Add Event</button></a>
  <!--a href="/organizer/add/?type=event"><button class="btn btn-secondary">Add Event</button></a-->
</div>
<table class="table table-hover">
  <thread>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thread>
  <tbody>
    {% for event in events %}
      <tr>
          <th><a href="/volunteer/event/{{event.id}}">{{event.name}}</a></th>
        <th>{{event.location}}</th>
        <th>{{event.start}}</th>
        <th>{{event.end}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
