{% extends "header.html" %}

{% block content %}
  <h1>{{slot.title}}</h1>
  <h4>{{slot.start}} - {{slot.end}}</h4>
  <h5>{{slot.location}}</h5>

  <p class="text-left">{{slot.description}}</p>

  <div class="row">
    <a class="col-sm-8" href="{% url 'volunteer' slot_id=slot.id %}">
      <button class="btn btn-info btn-block">Volunteer</button>
    </a>
    <a class="col-sm-2" href="{{slot.id}}/edit/?type={{slot.type}}">
      <button class="btn btn-primary btn-block">Edit</button>
    </a>
    <a class="col-sm-2" href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
      <button class="btn btn-danger btn-block">Delete</button>
    </a>
</div>


{% endblock %}
