{% extends "header.html" %}
{% load permission_tags %}

{% block content %}
  <h1>{{slot.title}}</h1>
  <h4>{{slot.start}} - {{slot.end}}</h4>
  <h5>{{slot.location}}</h5>

  <p class="text-left">{{slot.description}}</p>

  <div class="row">
    <a class="col-sm-8" href="{% url 'volunteer' slot_id=slot.id %}">
      <button class="btn btn-info btn-block">Volunteer</button>
    </a>
    {% if request.user|has_group:"Organizer" %}
    <a class="col-sm-2" href="{{slot.id}}/edit/?type={{slot.type}}">
      <button class="btn btn-primary btn-block">Edit</button>
    </a>
    <a class="col-sm-2" href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
      <button class="btn btn-danger btn-block">Delete</button>
    </a>
    {% endif %}
  </div>

  <h3>Volunteers</h3>
  <table class="table table-hover">
    <tbody>
      {% for user_slot in user_slots %}
        <tr>
          <th>{{user_slot.volunteer.username}}</th>
          {% if request.user|has_group:"Organizer" %}
            <th><a href="/volunteer/signin/{{user_slot.id}}"><button class="btn btn-primary">Sign In</button></a></th>
            <th><a href="/volunteer/signout/{{user_slot.id}}"><button class="btn btn-primary">Sign Out</button></a></th>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
