{% extends "header.html" %}
{% load permission_tags %}
{% load standard_tags %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-1">{{slot.title}}</h1>
    <h4 class="lead">{{slot.start}} - {{slot.end}}</h4>
    <h5 class="mb-0">{{slot.location}} - {{event.location}}: {{event.address}} {{event.city}}, {{event.state}} {{event.zip_code}}</h5>


    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentFilled}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentFilled}}%;">
        <span class="sr-only">{[percentFilled]} Complete</span>
      </div>
    </div>


    <h1></h1>
    <p class="text-left">{{slot.description}}</p>
    <h1></h1>


    <div class="row">
      {% if is_organizer %}
        <a class="col-sm-8" href="{% url 'volunteer' slot_id=slot.id %}">
          <button class="btn btn-info btn-block">Volunteer</button>
        </a>
        <a class="col-sm-2" href="{{slot.id}}/edit/?type={{slot.type}}">
          <button class="btn btn-primary btn-block">Edit</button>
        </a>
        <a class="col-sm-2" href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
          <button class="btn btn-danger btn-block">Delete</button>
        </a>
      {% else %}
        <a class="col-sm-12" href="{% url 'volunteer' slot_id=slot.id %}">
          <button class="btn btn-info btn-block">Volunteer</button>
        </a>
      {% endif %}
    </div>
  </div>




  <h3>Volunteers

    {% if is_organizer %}
      <a href="/organizer/addUserSlot/{{slot.id}}">+</a>
    {% endif %}

  </h3>
  <table class="table table-hover">
    <tbody>
      <thead>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Total time</th>
      <th>Signin Time</th>
      <th>Signout Time</th>
      <th></th>
      </thead>
      {% for user_slot in user_slots %}
        <tr>
          <th>{{user_slot.volunteer.username}}</th>
          {% if is_organizer %}
          <td>{{user_slot.is_signin_null}}</td>
          <td>{{user_slot.is_signout_null}}</td>
          <td><a href="/volunteer/signin/{{user_slot.id}}">
            <button class="btn btn-primary">Sign In</button>
          </a></td>
          <td><a href="/volunteer/signout/{{user_slot.id}}">
            <button class="btn btn-primary">Sign Out</button>
          </a></td>
          {% endif %}
            <td>{{user_slot.signin}}</td>
            <td>{{user_slot.signout}}</td>
            <td>{{user_slot.difference}}</td>
            <td><a href="/organizer/deleteUserSlot/{{user_slot.id}}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <th><a href="/sheets/fromslot/{{slot.id}}"><button class="btn btn-success">Generate Spreadsheet</button></a></th>



{% endblock %}
