{% extends "header.html" %}

{% block content %}
  <h1>Chat</h1>

  <div class="pre-scrollable">
    {% for entry in entries %}
      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="/static/img/test-user-icon.jpg" alt="profile picture" width="100">
        </div>
        <div class="col-sm-10">
          <div class="text-left">
              <h3><a href="/accounts/profile/{{entry.user.id}}">{{entry.user}}</a></h3>
            <h6>{{entry.datetime}}</h6>
            <p>{{entry.description}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <p align="left">
      <div class="form-group row">
        <div class="col-sm-10"> {{ field }} </div>
        <div class="col-sm-2"><button class="btn btn-primary btn-block" type="submit">Add</button></div>
      </div>
      {% if field.help_text %}
        <small style="display: none">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
  </form>




{% endblock %}
