{% extends "header_not_centered.html" %}

{% block content %}
<p></p>
<h1 class="display-3 text-center"> {{group.name}}</h1>

<div class="row">
  <div class="col-md-7 text-center">
    <h1 class="text-center">Slots</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <thead>
            <th>User</th>
            <th>Slot</th>
            <th>Event</th>
            <th>Sign In</th>
            <th>Sign Out</th>
          </thead>
          <tbody>
            {% for user_slot in user_slots %}
                {% if user_slot.is_volunteer_null %}
                {% else %}
                  <tr>
                    <td><a href="/accounts/profile/{{user_slot.volunteer.id}}">{{user_slot.volunteer.username}}</a></td>
                    <td><a href="/volunteer/slot/{{user_slot.parentSlot.id}}">{{user_slot.parentSlot.title}}</a></td>
                    <td><a href="/volunteer/event/{{user_slot.parentSlot.parentEvent.id}}">{{user_slot.parentSlot.parentEvent.name}}</a></td>

                    {% if user_slot.is_signin_null %}
                        <td><a href="/volunteer/signin/{{user_slot.id}}?next=/groups/{{group.id}}/console"><button class="btn btn-primary">Sign In</button></a></td>
                    {% else %}
                      <td><a href="/organizer/editSignIn/{{user_slot.id}}"><button type="button" name="button" class="btn btn-light">{{user_slot.signin}}</button></a></td>
                    {% endif %}

                    {% if user_slot.is_signout_null %}
                      <td><a href="/volunteer/signout/{{user_slot.id}}?next=/groups/{{group.id}}/console"><button class="btn btn-primary">Sign Out</button></a></td>
                    {% else %}
                      <td><a href="/organizer/editSignOut/{{user_slot.id}}"><button type="button" name="button" class="btn btn-light">{{user_slot.signout}}</button></a></td>
                    {% endif %}
                  </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <h1 class="text-center">Feed</h1>
    {% for entry in feed_entries %}
    <div class="row">

      <div class="col-sm-11">
        <div class="text-left">
          <h3><a href="/accounts/profile/{{entry.user.id}}">{{entry.user}}</a></h3>
          <h6>{{entry.datetime}}</h6>
          <a href="{{entry.url}}">{{entry.description}}</a>
        </div>
      </div>
    </div>
    <p></p>
    {% endfor %}
  </div>
</div>

{% endblock %}
