{% extends "header.html" %}

{% block content %}

<h1 class="display-3">Groups <a class="plus" href="add">+</a></h1>

<form method="post" style="padding-bottom:3%">
  {% csrf_token %}
    <div class="row">
      {% for field in form %}
        <p align="left">
          <div class="col-sm-12"> {{ field }} </div>
          {% if field.help_text %}
            <small style="display: none">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}

    </div>
</form>


  <table id="datatable" class="table table-hover">
    <thead>
         <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Tagline</th>
        </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td><a href="/groups/{{group.id}}">{{group.name}}</a></td>
          <td><a href="http://maps.google.com/?q={{ group.location }}" target="_blank">{{group.location}}</a></td>
          <td>{{group.tagline}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
