<style>
    .email-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        height: 100%;
    }
    
    .header {
        height: 15%;
        
        background-color: #333;
        
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
    }
    
    .header > h1 {
        color: white;
    }
    
    .body {
        height: 75%;
        
        display: flex;
        flex-direction: column;
    }
    
    
    .foot {
        height: 10%;
        
        background-color: #eee;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .foot h1 {
        font-size: 2vh;
    }
    
    
    
</style>