<nav class="navbar static-top navbar-expand-sm navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
	        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Brand -->
	<a class="navbar-brand" href="#">
		<img src="\static\img\logos.ico\ms-icon-70x70.png" width="20%">
		Sapphire
	</a>

	<!-- Links -->
	<div class="navbar-left collapse navbar-collapse" id="nav-content">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/volunteer/events">Events</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/volunteer/slots">Slots</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/groups">Groups</a>
			</li>
			<li class="nav-item navbar-right-dropdown">
				<a class="nav-link" href="/accounts/profile">
					{% if user.get_full_name == "" %}
						{{ user.username }}
					{% else %}
						{{ user.get_full_name }}
					{% endif %}
				</a>
			</li>
			<li class="nav-item navbar-right-dropdown">
				<a href="/logout" class="nav-link">
					<button class="btn btn-danger">Logout</button>
				</a>
			</li>
		</ul>
	</div>

	{% if user.is_authenticated %}

		<div class="navbar-right">
			<ul class="navbar-nav">
				<li class="nav-item py-2 navbar-right-top">
					<a class="nav-link" href="/accounts/profile">
						{% if user.get_full_name == "" %}
							{{ user.username }}
						{% else %}
							{{ user.get_full_name }}
						{% endif %}
					</a>
				</li>
				<li class="nav-item py-2">
					<div class="btn-group dropleft">
						<a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-bell"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							{% for notif in user.notifs.all|dictsortreversed:"datetime"|slice:"5" %}
								{% include 'snippets/feed_item.html' %}
							{% endfor %}
							<a class="dropdown-item text-center" href="/feed"> View More</a>
						</div>
					</div>
				</li>
				<li class="nav-item navbar-right-top">
					<a href="/logout" class="nav-link">
						<button class="btn btn-danger">Logout</button>
					</a>
				</li>
			</ul>
		</div>

	{% endif %}
</nav>