{% extends "header.html" %}

{% block content %}
  <h1>Add A Slot</h1>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p align="left">
        <br>{{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button type="submit">Add Slot</button>
  </form>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>In person?</th>
    </tr>
    {% for slot in slots %}
      <thread>
        <tr>
          <!You can access all the variables in SingleSlot here as shown below>
          <th>{{slot.name}}</th>
          <th>{{slot.start}}</th>
          <th>{{slot.end}}</th>
          <th>{{slot.get_in_person}}</th>
        </tr>
      </thread>
    {% endfor %}
  </table>
{% endblock %}
