{% extends "header.html" %}

{% block content %}
  <h1>Add A Single Slot</h1>
  <a href="?type=event">Add an event</a>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p align="left">
        <br>{{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button type="submit">Add Slot</button>
  </form>
  <table class="table table-hover">
    <thread>
      <tr>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>In person?</th>
        <th>Delete</th>
      </tr>
    </thread>
    <tbody>
      {% for event in events %}
        <tr>
          <th>{{event.name}}</th>
          <th>{{event.start}}</th>
          <th>{{event.end}}</th>
          <th>{{event.get_in_person}}</th>
          <th><a href="{% url 'deleteEvent' event_id=event.id %}?next={{ request.path|urlencode }}">x</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
