{% extends "header.html" %}
{% load permission_tags %}
{% load tz %}

{% block content %}

	<p class="text-right">
		<a href="/groups/{{ event.parentGroup.id }}">{{ event.parentGroup.name }}</a>
	</p>

	<div class="jumbotron">

		<h1 class="display-1">{{ event.name }}</h1>
		<a class="lead" href="http://www.google.com/calendar/event?
				action=TEMPLATE
				&text={{ event.name }}
				&dates={{ event.start|utc|date:"Ymd\\THi00\\Z" }}/{{ event.end|utc|date:"Ymd\\THi00\\Z" }}
				&details={{ event.description }}
				&location={{ event.location }}
				&trp=true
				&sprop=website:{{ request.build_absolute_uri }}"
				target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="Open in Google Calendar">
			{{ event.start }} - {{ event.end }}
		</a>

		<div id="accordion" role="tablist">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne" data-toggle="tooltip" data-placement="bottom" title="Open map view">
					<h5 class="mb-0">
						<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
						   aria-controls="collapseOne">
							{{ event.location }}: {{ event.address }} {{ event.city }}, {{ event.state }} {{ event.zip_code }}
						</a>
					</h5>
				</div>

				<div id="collapseOne" class="collapse toggle" role="tabpanel" aria-labelledby="headingOne"
				     data-parent="#accordion">

					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item"
						        src="https://www.google.com/maps/embed/v1/search?q={{ event.address }} {{ event.city }}, {{ event.state }} {{ event.zip_code }}&key=AIzaSyB-YQD-s4ery8KQRnzX7FhZsBC4SeFRcjA"
						        allowfullscreen></iframe>
					</div>

					<p class="text-danger">Map will only function correctly if a valid address has been entered</p>
				</div>
			</div>

			<h1></h1>
			<p class="text-left">{{ event.description }}</p>
		</div>

		{% if is_organizer %}
			<div class="row">
				<a class="col-sm-4 nodec" href="/organizer/updateEvent/{{ event.id }}" data-toggle="tooltip" data-placement="bottom" title="Edit event fields">
					<button class="btn btn-primary btn-block">
						<i class="fas fa-edit"></i> Edit
					</button>
				</a>
				<a class="col-sm-2 nodec" 
				<!-- href="/sheets/fromslot/{{ slot.id }}"  -->
				data-toggle="tooltip" data-placement="top" title="Download slot data">
					<button class="btn btn-block btn-success">
						<i class="fas fa-table"></i> Spreadsheet
					</button>
				</a>
				<a class="col-sm-2 nodec" href="/organizer/sendMail/event/{{ event.id }}" data-toggle="tooltip" data-placement="bottom" title="Email users about event"> 
					<button class="btn btn-block btn-success"><i class="fas fa-envelope"></i></button>
				</a>

				<a class="col-sm-2 nodec" href="/organizer/event/{{ event.id }}/console" data-toggle="tooltip" data-placement="bottom" title="Open event organizer console">
					<button class="btn btn-primary btn-block">
						<i class="fas fa-terminal"></i> Console
					</button>
				</a>


				<div class="btn-group col-sm-2 nodec">
					<button class="btn btn-danger btn-block dropdown-toggle"
						style="padding-bottom: 14px; padding-top: 6px;" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<span  data-toggle="tooltip" data-placement="bottom" title="Delete event"> 
							<i class="fas fa-trash-alt"></i> 
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</span>
					</button>
					<div class="dropdown-menu px-2">
						<h1 class="dropdown-header">Are you sure?</h1>
						<a class="nodec"
						   href="{% url 'deleteEvent' event_id=event.id %}?next={{ '/home/feed/'|urlencode }}">
							<button class="btn btn-danger btn-block">Yes</button>
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>




	<h3>Volunteer Slots
		{% if is_organizer %}
			<a class="plus" href="{% url 'addSlot' event_id=event.id %}" data-toggle="tooltip" data-placement="bottom" title="Add slot to this event">
				+
			</a>
		{% endif %}
	</h3>

    <table id="datatable" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Volunteers</th>
                    <th>Slots Taken</th>
                    {% if is_organizer %}
                        <th>Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for slot in event.slot_set.all|dictsort:"start" %}
            <tr>
                <td><a href="/volunteer/slot/{{ slot.id }}">{{ slot.title }}</a></td>
                <td>{{ slot.start }}</td>
                <td>{{ slot.end }}</td>
                <td>
                    <a href="#" data-toggle="popover" data-trigger="hover" title="Volunteers" id="volunteer-popover-{{ slot.id }}">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </td>
                <td>
                    {% ifnotequal slot.maxVolunteers 0 %}
                        {{ slot.user_slot_set.all|volunteer_count }}/{{ slot.user_slot_set.all|length }}
                    {% endifnotequal %}

                    {% ifequal slot.maxVolunteers 0 %}
                        <a title="This slot is unlimited" style="border-bottom: 1px dotted blue;">∞</a>
                    {% endifequal %}
                </td>
                {% if is_organizer %}
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
								<span  data-toggle="tooltip" data-placement="bottom" title="Remove slot"> 
									<i class="fas fa-trash-alt"></i>
								</span>
                            </button>
                            <div class="dropdown-menu px-2">
                                <h1 class="dropdown-header">Are you sure?</h1>
                                <a class="nodec"
                                   href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
                                    <button class="btn btn-danger btn-block">Yes</button>
                                </a>
                            </div>
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
            </tbody>
        </table>

	{% if is_organizer or not event.private %}
		{% for slot in event.slot_set.all|dictsort:"start" %}
				<div id="volunteer-popover-{{ slot.id }}-content" class="d-none">
					{% for user_slot in slot.user_slot_set.all %}
						<button class="btn btn-sm btn-default">
							{{ user_slot.volunteer.username }}
						</button>
					{% empty %}
						No Volunteers
					{% endfor %}
				</div>
		{% endfor %}
	{% else %}
		{% for slot in event.slot_set.all|dictsort:"start" %}
			<div id="volunteer-popover-{{ slot.id }}-content" class="d-none">
				{% for user_slot in slot.user_slot_set.all %}
					{% if user_slot.volunteer == volunteer %}
						<button class="btn btn-sm btn-default">
							{{ user_slot.volunteer.username }}
						</button>
					{% endif %}
				{% empty %}
					No Volunteers
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}
	<script>
		$(document).ready(function(){
		    $("[data-toggle=popover]").each(function(i, obj) {
				$(this).popover({
					html: true,
					content: function() {
					var id = $(this).attr('id');
					return $('#'+id+'-content').html();
					}
				});
			});
		});
	</script>
{% endblock %}
