{% extends "header.html" %}
{% load permission_tags %}
{% load standard_tags %}
{% load tz %}

{% block content %}
	<p></p>
	<p class="text-right">
		{% if single %}
			<a href="/groups/{{ slot.parentGroup.id }}">{{ slot.parentGroup.name }}</a>
		{% else %}
			<a href="/volunteer/event/{{ slot.parentEvent.id }}">{{ slot.parentEvent.name }}</a> /
			<a href="/groups/{{ slot.parentEvent.parentGroup.id }}">{{ slot.parentEvent.parentGroup.name }}</a>
		{% endif %}
	</p>
	<div class="jumbotron">
		<h1 class="display-1">{{ slot.title }}</h1>
		<a class="lead" href="http://www.google.com/calendar/event?
				action=TEMPLATE
				&text={{ slot.title }}
				&dates={{ slot.start|utc|date:"Ymd\\THi00\\Z" }}/{{ slot.end|utc|date:"Ymd\\THi00\\Z" }}
				&details={{ slot.description }}
				&location={{ slot.location }}
				&trp=true
				&sprop=website:{{ request.build_absolute_uri }}"
				target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="Open in Google Calendar">
			{{ slot.start }} - {{ slot.end }}
		</a>

		<div id="accordion" role="tablist">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne" data-toggle="tooltip" data-placement="bottom" title="Open map view">
					<h5 class="mb-0">
						<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
						   aria-controls="collapseOne">
							{{ slot.location }}: {% if single %} {{ slot.parentGroup.address }} {{ slot.parentGroup.city }}, {{ slot.parentGroup.state }} {{ slot.parentGroup.zip_code }} {% else %} {{ slot.parentEvent.address }} {{ slot.parentEvent.city }}, {{ slot.parentEvent.state }} {{ slot.parentEvent.zip_code }} {% endif %}
						</a>
					</h5>
				</div>

				<div id="collapseOne" class="collapse toggle" role="tabpanel" aria-labelledby="headingOne"
				     data-parent="#accordion">

					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item"
						        src="https://www.google.com/maps/embed/v1/search?q={% if single %} {{ slot.parentGroup.address }} {{ slot.parentGroup.city }}, {{ slot.parentGroup.state }} {{ slot.parentGroup.zip_code }} {% else %} {{ slot.parentEvent.address }} {{ slot.parentEvent.city }}, {{ slot.parentEvent.state }} {{ slot.parentEvent.zip_code }} {% endif %}&key=AIzaSyB-YQD-s4ery8KQRnzX7FhZsBC4SeFRcjA"
						        allowfullscreen></iframe>
					</div>

					<p class="text-danger">Map will only function correctly if a valid address has been entered</p>
				</div>
			</div>

			<h1></h1>
			<p class="text-left">{{ slot.description }}</p>
		</div>


		<div class="row">
			{% if is_organizer %}
				{% if offer %}
					<a class="col-sm-2 nodec" href="/volunteer/accept/{{ slot.id }}" data-toggle="tooltip" data-placement="bottom" title="Accept volunteer request">
						<button class="btn btn-info btn-block">Accept</button>
					</a>

					<a class="col-sm-2 nodec" href="/volunteer/slot/{{ slot.id }}/unvolunteer" data-toggle="tooltip" data-placement="bottom" title="Reject volunteer request">
						<button class="btn btn-info btn-block">Reject</button>
					</a>

				{% elif is_volunteered %}
					<a class="col-sm-4 nodec" href="/volunteer/slot/{{ slot.id }}/unvolunteer" data-toggle="tooltip" data-placement="bottom">
						<button class="btn btn-info btn-block">
                                <i class="fas fa-ban"></i> Unvolunteer
                        </button>
					</a>
				{% else %}
					<a class="col-sm-4 nodec" href="{% url 'volunteer' slot_id=slot.id %}" data-toggle="tooltip" data-placement="bottom" title="Sign up">
						<button class="btn btn-info btn-block">
                                <i class="fas fa-hands-helping"></i> Volunteer
                        </button>
					</a>
				{% endif %}
                <a class="col-sm-2 nodec" 
                <!-- href="/sheets/fromslot/{{ slot.id }}"  -->
                data-toggle="tooltip" data-placement="top" title="Download slot data">
					<button class="btn btn-block btn-success">
						<i class="fas fa-table"></i> Spreadsheet
					</button>
				</a>
				<a class="col-sm-2 nodec" href="/organizer/sendMail/slot/{{ slot.id }}" data-toggle="tooltip" data-placement="bottom" title="Email users about slot">
					<button class="btn btn-block btn-success"><i class="fas fa-envelope"></i> Email</button>
				</a>
				<a class="col-sm-2 nodec" href="/organizer/editSlot/{{ slot.id }}" data-toggle="tooltip" data-placement="bottom" title="Edit slot fields">
					<button class="btn btn-primary btn-block">
						<i class="fas fa-edit"></i> Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
				</a>
				<div class="btn-group col-sm-2">
                    <button class="btn btn-danger btn-block dropdown-toggle"
                        style="padding-bottom: 14px; padding-top: 6px;" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span  data-toggle="tooltip" data-placement="bottom" title="Delete slot">
                            <i class="fas fa-trash-alt"></i> Remove
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                    </button>
					<div class="dropdown-menu px-2">
						<h1 class="dropdown-header">Are you sure?</h1>
						<a class="nodec"
						   href="{% url 'deleteSlot' slot_id=slot.id %}?next={{ request.path|urlencode }}">
							<button class="btn btn-danger btn-block">Yes</button>
						</a>
					</div>
				</div>
			{% else %}
				{% if offer %}
					<a class="col-sm-6 nodec" href="/volunteer/accept/{{ slot.id }}">
						<button class="btn btn-info btn-block">Accept</button>
					</a>

					<a class="col-sm-6 nodec" href="/volunteer/slot/{{ slot.id }}/unvolunteer">
						<button class="btn btn-info btn-block">Reject</button>
					</a>
				{% elif is_volunteered %}
					<a class="col-sm-12 nodec" href="/volunteer/slot/{{ slot.id }}/unvolunteer">
						<button class="btn btn-info btn-block">Unvolunteer</button>
					</a>
				{% else %}
					<a class="col-sm-12 nodec" href="{% url 'volunteer' slot_id=slot.id %}">
						<button class="btn btn-info btn-block">Volunteer</button>
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div>




	<h3>Volunteers
		{% if is_organizer %}
			<a class="plus" href="/organizer/addUserSlot/{{ slot.id }}">+</a>
		{% endif %}
	</h3>
	<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            {% if is_organizer %}
                <th>User <a class="plus" href="/organizer/addUserManually/{{ slot.id }}">+</a></th>
            {% else %}
                <th>User</th>
            {% endif %}
            <th>Sign In</th>
            <th>Sign Out</th>
            <th>Time</th>

            {% if slot.is_payment_nonzero %}
                <th>Payment</th>
            {% endif %}

            {% if is_organizer or not slot.private %}
                {% for a in extra %}
                    <th>{{ a }}</th>
                {% endfor %}
            {% endif %}

             {% if is_organizer %}
                <th class="no-sort">Delete</th>
            {% endif %}
        </thead>
        <tbody>
            {% if is_organizer or not slot.private %}
                {% for user_slot in user_slots %}
                    <tr>
                        {% if user_slot.is_volunteer_null %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>

                            {% if slot.is_payment_nonzero %}
                                <th>-</th>
                            {% endif %}

                            {% for a in extra %}
                                <td>-</td>
                            {% endfor %}

                            {% if is_organizer %}
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash-alt"></i>
                                        </button>
                                        <div class="dropdown-menu px-2">
                                            <h1 class="dropdown-header">Are you sure?</h1>
                                            <a class="nodec"
                                                href="/organizer/deleteUserSlot/{{ user_slot.id }}?next={{ request.path|urlencode }}">
                                                <button class="btn btn-danger btn-block">Yes</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}

                        {% elif is_organizer or not slot.private %}
                            <td>
                                {% ifequal user_slot.accepted "No" %}
                                    <a href="/accounts/profile/{{ user_slot.volunteer.id }}"
                                       title="An organizer has volunteered this user for a slot, but the user has not yet accepted"
                                       style="border-bottom: 1px dotted blue;">
                                        {{ user_slot.volunteer.username }}
                                        <i class="fas fa-exclamation-triangle" style="color: red"></i>


                                    </a>
                                {% endifequal %}
                                {% ifnotequal user_slot.accepted "No" %}
                                    <a href="/accounts/profile/{{ user_slot.volunteer.id }}"> {{ user_slot.volunteer.username }}</a>
                                {% endifnotequal %}
                            </td>

                            {% if user_slot.is_signin_null %}
                                {% if is_organizer %}
                                    <td>
                                        <a href="/volunteer/signin/{{ user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                            <button class="btn btn-primary">Sign In</button>
                                        </a></td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                {% if is_organizer %}
                                    <td><a href="/organizer/editSignIn/{{ user_slot.id }}">
                                        <button type="button" name="button"
                                                class="btn btn-light">{{ user_slot.signin }}</button>
                                    </a></td>
                                {% else %}
                                    <td>{{ user_slot.signin }}</td>
                                {% endif %}
                            {% endif %}

                            {% if user_slot.is_signout_null %}
                                {% if is_organizer %}
                                    <td>
                                        <a href="/volunteer/signout/{{ user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                            <button class="btn btn-primary">Sign Out</button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                {% if is_organizer %}
                                    <td><a href="/organizer/editSignOut/{{ user_slot.id }}">
                                        <button type="button" name="button"
                                                class="btn btn-light">{{ user_slot.signout }}</button>
                                    </a></td>
                                {% else %}
                                    <td>{{ user_slot.signout }}</td>
                                {% endif %}
                            {% endif %}

                            <td>{{ user_slot.difference|default_if_none:"-"}}</td>

                            {% if slot.is_payment_nonzero %}
                                <td>${{ user_slot.payment }}</td>
                            {% endif %}

                            {% for a,b in user_slot.value %}
                                {% if is_organizer %}
                                  <td><a href="/organizer/editField/{{ user_slot.id }}/{{ a }}">
                                      <button type="button" name="button" class="btn btn-light">{{ b }}</button>
                                  </a></td>
                                {% else %}
                                   <td>-</td>
                                {% endif %}
                            {% endfor %}


                            {% if is_organizer %}
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span data-toggle="tooltip" data-placement="bottom" title="Remove slot">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                        </button>
                                        <div class="dropdown-menu px-2">
                                            <h1 class="dropdown-header">Are you sure?</h1>
                                            <a class="nodec"
                                                href="/organizer/deleteUserSlot/{{ user_slot.id }}?next={{ request.path|urlencode }}">
                                                <button class="btn btn-danger btn-block">Yes</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% elif is_volunteered %}
                <tr>
                    <td>
                        <a href="/accounts/profile/{{ specific_user_slot.volunteer.id }}"> {{ specific_user_slot.volunteer.username }}</a>
                    </td>
                    {% if specific_user_slot.is_signin_null %}
                        {% if is_organizer %}
                            <td>
                                <a href="/volunteer/signin/{{ specific_user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                    <button class="btn btn-primary">Sign In</button>
                                </a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% else %}
                        {% if is_organizer %}
                            <td><a href="/organizer/editSignIn/{{ specific_user_slot.id }}">
                                <button type="button" name="button"
                                        class="btn btn-light">{{ specific_user_slot.signin }}</button>
                            </a></td>
                        {% else %}
                            <td>{{ specific_user_slot.signin }}</td>
                        {% endif %}
                    {% endif %}

                    {% if specific_user_slot.is_signout_null %}
                        {% if is_organizer %}
                            <td>
                                <a href="/volunteer/signout/{{ specific_user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                    <button class="btn btn-primary">Sign Out</button>
                                </a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% else %}
                        {% if is_organizer %}
                            <td><a href="/organizer/editSignOut/{{ specific_user_slot.id }}">
                                <button type="button" name="button"
                                        class="btn btn-light">{{ specific_user_slot.signout }}</button>
                            </a></td>
                        {% else %}
                            <td>{{ specific_user_slot.signout }}</td>
                        {% endif %}
                    {% endif %}

                    <td>{{ specific_user_slot.difference|default_if_none:"-"}}</td>

                    {% if slot.is_payment_nonzero %}
                        <td>${{ specific_user_slot.payment }}</td>
                    {% endif %}

                    {% for a,b in specific_user_slot.value %}
                        <td><a href="/organizer/editField/{{ specific_user_slot.id }}/{{ a }}">
                            <button type="button" name="button" class="btn btn-light">{{ b }}</button>
                        </a></td>
                    {% endfor %}

                    {% if is_organizer %}
                        <td><a href="/organizer/deleteUserSlot/{{ specific_user_slot.id }}">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </a></td>
                    {% endif %}
                </tr>
            {% endif %}
            </tbody>

    <tfoot>
        {% for user_slot in empty_slot %}
            <tr>
        {% if user_slot.is_volunteer_null %}

                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>

                            {% if slot.is_payment_nonzero %}
                                <th>-</th>
                            {% endif %}

                            {% for a in extra %}
                                <td>-</td>
                            {% endfor %}

                            {% if is_organizer %}
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash-alt"></i>
                                        </button>
                                        <div class="dropdown-menu px-2">
                                            <h1 class="dropdown-header">Are you sure?</h1>
                                            <a class="nodec"
                                                href="/organizer/deleteUserSlot/{{ user_slot.id }}?next={{ request.path|urlencode }}">
                                                <button class="btn btn-danger btn-block">Yes</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}

                        {% elif is_organizer or not slot.private %}
                            <td>
                                {% ifequal user_slot.accepted "No" %}
                                    <a href="/accounts/profile/{{ user_slot.volunteer.id }}"
                                       title="An organizer has volunteered this user for a slot, but the user has not yet accepted"
                                       style="border-bottom: 1px dotted blue;">
                                        {{ user_slot.volunteer.username }}
                                        <i class="fas fa-exclamation-triangle" style="color: red"></i>


                                    </a>
                                {% endifequal %}
                                {% ifnotequal user_slot.accepted "No" %}
                                    <a href="/accounts/profile/{{ user_slot.volunteer.id }}"> {{ user_slot.volunteer.username }}</a>
                                {% endifnotequal %}
                            </td>

                            {% if user_slot.is_signin_null %}
                                {% if is_organizer %}
                                    <td>
                                        <a href="/volunteer/signin/{{ user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                            <button class="btn btn-primary">Sign In</button>
                                        </a></td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                {% if is_organizer %}
                                    <td><a href="/organizer/editSignIn/{{ user_slot.id }}">
                                        <button type="button" name="button"
                                                class="btn btn-light">{{ user_slot.signin }}</button>
                                    </a></td>
                                {% else %}
                                    <td>{{ user_slot.signin }}</td>
                                {% endif %}
                            {% endif %}

                            {% if user_slot.is_signout_null %}
                                {% if is_organizer %}
                                    <td>
                                        <a href="/volunteer/signout/{{ user_slot.id }}?next=/volunteer/slot/{{ slot.id }}">
                                            <button class="btn btn-primary">Sign Out</button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                {% if is_organizer %}
                                    <td><a href="/organizer/editSignOut/{{ user_slot.id }}">
                                        <button type="button" name="button"
                                                class="btn btn-light">{{ user_slot.signout }}</button>
                                    </a></td>
                                {% else %}
                                    <td>{{ user_slot.signout }}</td>
                                {% endif %}
                            {% endif %}

                            <td>{{ user_slot.difference|default_if_none:"-"}}</td>

                            {% if slot.is_payment_nonzero %}
                                <td>${{ user_slot.payment }}</td>
                            {% endif %}

                            {% if is_organizer or not slot.private %}
                                {% for a,b in user_slot.value %}
                                    <td><a href="/organizer/editField/{{ user_slot.id }}/{{ a }}">
                                        <button type="button" name="button" class="btn btn-light">{{ b }}</button>
                                    </a></td>
                                {% endfor %}
                            {% endif %}


                            {% if is_organizer %}
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span data-toggle="tooltip" data-placement="bottom" title="Remove slot">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                        </button>
                                        <div class="dropdown-menu px-2">
                                            <h1 class="dropdown-header">Are you sure?</h1>
                                            <a class="nodec"
                                                href="/organizer/deleteUserSlot/{{ user_slot.id }}?next={{ request.path|urlencode }}">
                                                <button class="btn btn-danger btn-block">Yes</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}
            </tr>
        {% endfor %}
    </tfoot>
    </table>
	</div>




{% endblock %}
