
{% autoescape off %}

    {% if preview %}
        {% include 'snippets/imports.html' %}
    {% endif %}


	<div class="container">
        <body style="font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
	                Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";">
		<div align="center" style="background-color:#343a40;height:70px;">
	        <table>
	            <td><img src="cid:logo" height="50px" style="margin-top:7px;"/></td>
		        <td style="color:#fff;display:inline-block;
                      font-size:1.25rem;position:relative;bottom:17px;
					  background-color:transparent;">
			            <p>Sapphire</p>
		        </td>
            </table>
        </div>
			<div align="center">
                <div style="display:block;width:800px;padding-bottom:5%;">
                    <div style="position:relative;left:25px;top:25px;">
                        <p style="font-size:36px;">
                            {{ user.first_name }} {{user.last_name}},
                        </p>
                        <p style="font-size:20px;padding-left:100px;padding-right:100px;" align="center">
                            The organizer of the group {{ group.name }} wanted to alert you that the following new event is available:
	                    </p>
                        <table cellpadding="10%" style="margin-left:10%;margin-right:10%;margin-top:5%;margin-bottom:0%;font-size:16px;">
                          <tr>
                            <th style="vertical-align:top;text-align:right;">Name</th>
                            <td>{{event.name}}</td>
                          </tr>
                          <tr>
                            <th style="vertical-align:top;text-align:right;">Description</th>
                            <td>{{event.description}}</td>
                          </tr>
                          <tr>
                            <th style="vertical-align:top;text-align:right;">Location</th>
                            <td>{{event.location}}</td>
                          </tr>
                          <tr>
                            <th style="vertical-align:top;text-align:right;">Start Time</th>
                            <td>{{event.start}}</td>
                          </tr>
                          <tr>
                           <th style="vertical-align:top;text-align:right;">End Time</th>
                           <td>{{event.end}}</td>
                          </tr>
                          <tr>
                           <th style="vertical-align:top;text-align:right;">Slots</th>
                           <td>{% for slot in slots %}
                                    {{slot.title}} <br/>
                               {% endfor %}
                           </td>
                          </tr>
                        </table>
                        <br/>
                        <br/>
                        <a style="font-size:18px;text-decoration:none;color:#fff;" href="http://{{ domain }}/volunteer/event/{{ event.id }}">
                            <button type="submit" style="background-color:#007bff;border-color:#007bff;color:#fff;
		                                            width:200px;height:50px;border: 1px solid transparent;
                                                    padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;
                                                    transition: color .15s ease-in-out,background-color .15s ease-in-out,
                                                    border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor:pointer;
													margin-top:50px;"
		                onmouseover="this.style.backgroundColor='#0069d9';this.style.borderColor='#0062cc';"
						onmouseout="this.style.backgroundColor='#007bff';this.style.borderColor='#007bff';">View Event</button>
                        </a>
                    </div>
                </div>
            </div>
		</body>
	</div>
{% endautoescape %}