{% autoescape off %}
Hi {{ user.first_name }} {{user.last_name}},
Just letting you know that a volunteering slot has been created in the {{ group.name }} group that you are a part of!

    Here's the info:
    Name: {{ slot.title }}
    Description: {{ slot.description }}
    Location: {{ slot.location }}
    Time: {{ slot.start }} - {{ slot.end }}
    Number of Slots: {{ slot.maxVolunteers }}

If you care to participate, visit http://{{ domain }}/volunteer/slot/{{ slot.id }} sign up!
{% endautoescape %}