{% autoescape off %}
    {% load static from staticfiles %}
    <div class="container">
        <body style="font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
	                Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";">
	    <div align="center" style="background-color:#343a40;height:70px;">
	        <table>
	            <td><img src="cid:logo" height="50px" style="margin-top:7px;"/></td>
		        <td style="color:#fff;display:inline-block;
                      font-size:1.25rem;position:relative;bottom:17px;
					  background-color:transparent;">
			            <p>Sapphire</p>
		        </td>
            </table>
        </div>
            <div align="center">
                <div style="height:500px;width:800px;">
                    <div style="position:relative;left:25px;top:25px;">
                        <p style="font-size:32px;">
                            Hi {{ user.first_name }} {{user.last_name}}!
                        </p>
                        <p style="font-size:18px;text-align:center;">
                            You were volutold for an event,<br/>
                            Accept or Reject their command
                        </p>
	                    <a href="http://{{ domain }}/login?next=../volunteer/accept/{{id}}/" style="font-size:18px;text-decoration:none;color:#fff;">
                            <button type="submit" style="background-color:#007bff;border-color:#007bff;color:#fff;
		                                            width:200px;height:50px;border: 1px solid transparent;
                                                    padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;
                                                    transition: color .15s ease-in-out,background-color .15s ease-in-out,
                                                    border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor:pointer;
													margin-top:50px;"
		                            onmouseover="this.style.backgroundColor='#0069d9';this.style.borderColor='#0062cc';"
		                            onmouseout="this.style.backgroundColor='#007bff';this.style.borderColor='#007bff';">Accept</button>
						</a>
	                    <a href="http://{{ domain }}/login?next=../slot/{{id}}/unvolunteer/" style="font-size:18px;text-decoration:none;color:#ffffff;">
                            <button type="submit" style="background-color:#007bff;border-color:#007bff;color:#fff;
		                                            width:200px;height:50px;border: 1px solid transparent;
                                                    padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;
                                                    transition: color .15s ease-in-out,background-color .15s ease-in-out,
                                                    border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor:pointer;
													margin-top:50px;"
		                        onmouseover="this.style.backgroundColor='#0069d9';this.style.borderColor='#0062cc';"
								onmouseout="this.style.backgroundColor='#007bff';this.style.borderColor='#007bff';">Reject</button>
	                    </a>
                    </div>
                </div>
            </div>
        </body>
    </div>
{% endautoescape %}